@import '../../stylesheets/mixins', '../../stylesheets/reset',
  '../../stylesheets/variables';

.page__container {
  &__form {
    padding: 20px;

    @include tablet {
      padding: 0px;
      margin-right: 30px;
      width: 100%;
    }

    @include desktop {
      max-width: 329px;
    }

    &__fill {
      margin-bottom: 10px;
    }

    &__icon {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 10px 0px;
      border-bottom: 1px solid $colorLines;
      cursor: pointer;

      &__title {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-content: center;

        & i {
          height: 18px;
          margin-right: 12px;
          color: $colorSecondaryDark;
        }

        & h2 {
          font-family: $fontFamily;
          font-weight: 600;
          font-size: 18px;
          color: transparentize($colorDark, 0.2);
          text-transform: uppercase;
          &:hover {
            color: $colorSecondaryDark;
          }
        }
      }
      & button {
        background: none;
        cursor: pointer;
      }
    }

    &__design {
      padding-top: 22px;
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-content: initial;
      .element {
        margin-right: 20px;
      }
      & h3 {
        font-family: $fontFamily;
        font-size: 14px;
        line-height: 20px;
        text-transform: uppercase;
        color: $colorMedium;
        margin-left: 20px;

        @include tablet {
          margin-left: 0px;
        }
      }
      &__colorPalette {
        label {
          display: flex;
          flex-direction: row;
          justify-content: flex-end;
          align-items: center;
          margin-bottom: 20px;
          input {
            margin-right: 10px;

            &:focus {
              outline: none;
              box-shadow: 0px 0px 16px 6px rgba(17, 78, 78, 1);
            }
          }
          .water {
            display: flex;
            justify-content: flex-start;
            .square {
              margin: 0;
              padding: 0;
              display: inline-block;
              //border: 1px solid red;
              width: 30px;
              height: 25px;
            }
            & .square1 {
              background-color: #114e4e;
            }
            & .square2 {
              background-color: #438792;
            }
            & .square3 {
              background-color: #a2deaf;
            }
          }
          .fire {
            display: flex;
            justify-content: flex-start;

            .square {
              margin: 0;
              padding: 0;
              display: inline-block;
              //border: 1px solid red;
              width: 30px;
              height: 25px;
            }
            & .square1 {
              background-color: #420101;
            }
            & .square2 {
              background-color: #bd1010;
            }
            & .square3 {
              background-color: #e95626;
            }
          }
          .earth {
            display: flex;
            justify-content: flex-start;
            .square {
              margin: 0;
              padding: 0;
              display: inline-block;
              //border: 1px solid red;
              width: 30px;
              height: 25px;
            }
            & .square1 {
              background-color: #3e5b65;
            }
            & .square2 {
              background-color: #eab052;
            }
            & .square3 {
              background-color: #a0c0cf;
            }
          }
          .air {
            display: flex;
            justify-content: flex-start;
            .square {
              margin: 0;
              padding: 0;
              display: inline-block;
              //border: 1px solid red;
              width: 30px;
              height: 25px;
            }
            & .square1 {
              background-color: #3b9c7f;
            }
            & .square2 {
              background-color: #57c9a6;
            }
            & .square3 {
              background-color: #a2deaf;
            }
          }
        }
      }
    }
    &__fill {
      padding: 0px;
      p {
        font-family: $fontFamily;
        font-size: 14px;
        line-height: 20px;
        color: $colorPrimaryDark;
        margin-top: 18px;
        text-align: left;
      }

      label,
      input {
        //border: 1px solid red;
        display: block;
        text-align: left;
        width: 100%;
      }
      input {
        height: 30px;
        border: 1px solid #a2deaf;
        font-family: $fontFamily;
        font-size: 14px;
        line-height: 20px;
        color: $colorDark;
        padding: 3px 9px 7px 9px;
      }
      input::placeholder {
        font-family: $fontFamily;
        font-size: 14px;
        line-height: 20px;
        color: transparentize($colorDark, 0.5);
        padding: 3px 9px 7px 9px;
      }

      label {
        padding-bottom: 7px;
        padding-top: 20px;
        color: $colorPrimaryDark;
        font-family: $fontFamily;
        font-size: 14px;
        line-height: 20px;
      }
    }
    &__share {
      width: 199px;
      height: 50px;
      border-radius: 12px;
      background-color: $colorSecondaryDark;
      color: $colorLight;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 30px auto 30px auto;
      cursor: pointer;
      transition: background-color 1s ease;
      box-shadow: none;
      outline: none;
      &:hover {
        font-weight: bold;
        background-color: #114e4e;
      }
      & .create {
        background-color: $colorSecondaryDark;
        text-transform: uppercase;
        font-family: $fontFamilyBold;
        font-size: 18px;
        font-weight: 600;
      }
      & .far {
        font-size: 22px;
        padding: 0px 9px 0px 0px;
      }
    }
    & .create__text {
      font-family: $fontFamily;
      font-weight: 600;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      & .url {
        margin-top: 5px;
        font-family: $fontFamily;
        font-size: 12px;
        color: $colorSecondaryDark;
        text-align: center;
      }

      & h4 {
        font-size: 18px;
        color: $colorFontCard;
      }
      & p {
        font-size: 12px;
        color: $colorSecondaryDark;
        margin-top: 5px;
      }
      & .twitter-share-button {
        width: 181px;
        height: 30px;
        border-radius: 3px;
        color: $colorLight;
        background-color: $colorTwitter;
        font-size: 14px;
        font-weight: 400;
        margin-top: 10px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        & .fab {
          font-size: 18px;
        }
      }
    }
  }
}

// AVATAR

.hidden {
  display: none !important;
}

.rot {
  transform: rotate(0.5turn);
}

.action {
  text-align: center;
}
.action__upload-btn {
  width: 140px;
  height: 30px;
  border-radius: 3px;
  background-color: $colorSecondaryDark;
  color: $colorLight;
  font-family: $fontFamily;
  font-size: 14px;
  line-height: 20px;
  margin-top: 10px;
  cursor: pointer;
  transition: background-color 1s ease;
  box-shadow: none;
  outline: none;
  &:hover {
    font-weight: bold;
    background-color: #114e4e;
  }
}
.get-avatar__upload-field {
  /* Ocultamos el input de tipo "file" porque no podemos 
    darle los estilos que queremos */
  display: none !important;
}

.container-preview {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.profile {
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
.profile__image,
.profile__preview {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: 1px solid #ccc;
}
.profile__image {
  width: 240px;
  height: 205px;
}

.profile__preview {
  margin-top: 10px;
  width: 30px;
  height: 30px;
  margin-left: 15px;
}
/***********/

.col-hidden {
  .collapsible {
    display: none;
  }
}

/**********/
.moon-theme {
  // .h2 {
  //   color: white;
  // }
  .page__container__form {
    &__design {
      h3 {
        color: inherit;
      }
    }
    &__fill {
      label {
        color: inherit;
      }
      input {
        background-color: #606992;
        &:focus {
          outline: none;
          box-shadow: 0px 0px 16px 6px rgba(245, 195, 95, 1);
        }
      }
    }

    h4 {
      color: rgba(0, 0, 0, 0.8);
    }
  }
}
.joker-theme {
  .page__container__form {
    &__design {
      h3 {
        color: #114e4e;
      }
      .element {
        color: #114e4e;
      }
    }
    &__fill {
      input {
        background-color: rgb(173, 169, 169);
        &:focus {
          outline: none;
          box-shadow: 0px 0px 16px 6px rgba(245, 195, 95, 1);
        }
      }
    }
    .url {
      color: #54585a;
    }
  }
}
.heart-theme {
  .page__container__form {
    &__design {
      h3 {
        color: inherit;
      }
      .element {
        color: inherit;
      }
    }
    &__fill {
      label {
        color: inherit;
      }
      input {
        &:focus {
          outline: none;
          box-shadow: 0px 0px 16px 6px rgba(245, 195, 95, 1);
        }
        background-color: rgb(121, 95, 95);
      }
    }
    .url,
    h4 {
      color: rgba(0, 0, 0, 0.8);
    }
  }
}
/* ------------------------------LOADING-------------------------- */
.loading {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 20px 0 20px 0;
  color: $colorSecondaryDark;
}
.joker {
  .loading {
    color: rgb(121, 95, 95);
  }
}
.heart {
  .loading {
    color: inherit;
  }
}
.lds-roller {
  margin: auto;
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  margin-top: 10px;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.lds-roller div:after {
  content: ' ';
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.7);
  margin: -4px 0 0 -4px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
