@import '../../stylesheets/mixins', '../../stylesheets/reset',
  '../../stylesheets/variables';

.page__container {
  background-color: rgb(60, 70, 114);
  color: rgb(241, 241, 241);
  z-index: -1;
  @include tablet {
    padding: 20px 40px;
  }
  &__card {
    // background-image: linear-gradient(to bottom, #bfcdd0, #dde9ed);
    padding: 38px 35px 40px 45px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    border: 1px solid $colorLight;
    border-radius: 25px;
    z-index: 2;
    &::before {
      content: '';
      position: absolute;
      width: 150%;
      height: 150%;
      z-index: -1;
      background: url('../../zodiaco/constelaciones.jpeg');
      background-size: contain;
      background-repeat: repeat;
      background-position: center;
      animation-name: rotZodiac;
      animation-duration: 600s;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
    }

    @include tablet {
      width: 100%;
      border-radius: 6px;
    }

    &__reset {
      width: 240px;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;

      &__btn {
        width: 75px;
        height: 30px;
        border-radius: 22.5px;
        border: 1px solid $colorLight;
        background-color: transparent;
        font-size: 12px;
        font-family: $fontFamily;
        color: $colorLight;
        text-transform: uppercase;
        margin-bottom: 20px;
        cursor: pointer;
        &:hover {
          background-color: $colorBackgroundLight;
          color: $colorSecondaryDark;
          border: 1px solid $colorSecondaryDark;
          font-weight: bold;
        }

        .far .fa-trash-alt {
          font-size: 12px;
          color: $colorFontCard;
        }
      }
    }

    &__box {
      background-color: $colorLight;
      box-shadow: 0 1px 10px 3px rgba(0, 0, 0, 0.6),
        0 1px 3px 0 rgba(0, 0, 0, 0.35);
      width: 240px;
      min-height: 329px;
      padding: 21px 0 10px 0;
      text-align: left;

      &__name {
        font-family: $fontFamilyTertiary;
        font-size: 18px;
        font-weight: bold;
        line-height: 20px;
        /*color: $colorPrimaryDark;*/
        word-break: break-all;
      }
      &__job {
        font-family: $fontFamilyTertiary;
        font-size: 16px;
        line-height: 20px;
        /* color: $colorFontCard;*/
        word-break: break-all;
      }
      &__imgContainer,
      .profile__avatar {
        width: 240px;
        height: 200px;
      }
      &__socialMedia {
        display: flex;
        padding: 10px 10px 0px 10px;

        li {
          /* color: $colorPrimaryDark;*/
          font-size: 18px;
          width: 32px;
          height: 32px;
          border-radius: 50%;
          /* border: 2px solid $colorPrimaryLight;*/
          display: flex;
          justify-content: center;
          align-items: center;
          margin-left: 10px;
        }
      }
    }
  }
}

/* JS */
.cold-name {
  color: $colorPrimaryDark;
}
.cold-job {
  color: $colorFontCard;
}
.cold-icon {
  color: $colorPrimaryDark;
  border: 2px solid $colorPrimaryLight;
}
.cold-border {
  border-left: 5px solid #438792;
  padding-left: 20px;
  margin-bottom: 10px;
}

.red-name {
  color: #420101 !important;
}
.red-job {
  color: #bd1010 !important;
}
.red-icon {
  color: #420101;
  border: 2px solid #e95626;
}
.red-border {
  border-left: 5px solid #bd1010;
  padding-left: 20px;
  margin-bottom: 10px;
}

.mix-name {
  color: #3e5b65;
}
.mix-job {
  color: #eab052;
}
.mix-icon {
  color: #3e5b65;
  border: 2px solid #a0c0cf;
}
.mix-border {
  border-left: 5px solid #eab052;
  padding-left: 20px;
  margin-bottom: 10px;
}

@keyframes rotZodiac {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@include tablet {
  .page__container__card {
    &::before {
      background: url('../../zodiaco/constelaciones.jpeg');
      background-size: 100%;
      background-repeat: repeat;
      background-position: center;
    }
  }
}

@include desktop {
}

/**************/

.palette-1 {
  .page__container__card__box__border {
    border-color: #114e4e;
  }
  .page__container__card__box__name {
    color: #114e4e;
  }
  .page__container__card__box__job {
    color: $colorFontCard;
  }
  .cold-icon {
    color: $colorPrimaryDark;
    border: 2px solid $colorPrimaryLight;
    a {
    }
  }
}

.palette-2 {
  .page__container__card__box__border {
    border-color: #420101;
  }
  .page__container__card__box__name {
    color: #420101;
  }
  .page__container__card__box__job {
    color: #bd1010;
  }
  .cold-icon {
    color: #420101;
    border: 2px solid #e95626;
    a {
    }
  }
}

.palette-3 {
  .page__container__card__box__border {
    border-color: #3e5b65;
  }

  .page__container__card__box__name {
    color: #3e5b65;
  }
  .page__container__card__box__job {
    color: #eab052;
  }
  .cold-icon {
    color: #3e5b65;
    border: 2px solid #a0c0cf;
  }
}

.palette-4 {
  .page__container__card__box__border {
    border-color: #3b9c7f;
  }
  .page__container__card__box__name {
    color: #3b9c7f;
  }
  .page__container__card__box__job {
    color: rgb(86, 201, 166);
  }
  .cold-icon {
    color: #3b9c7f;
  }
}

.joker {
  .page__container {
    background-color: rgb(151, 148, 148);
  }
}

.heart {
  .page__container {
    background-color: rgb(88, 55, 55);
  }
}
