@import '../../stylesheets/mixins', '../../stylesheets/reset',
  '../../stylesheets/variables';

.page {
  &__header {
    background-color: #14192b;
    height: 110px;
    display: flex;
    flex: row;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 1px solid $colorLight;
    &__logo {
      padding: 0 40px;
      img {
        height: 50px;
        width: 201px;
      }
    }
  }
}

.joker-theme {
  .page__header {
    background-color: rgb(37, 36, 36);
  }
}

.heart-theme {
  .page__header {
    background-color: rgb(34, 14, 14);
  }
}
