@import '../../stylesheets/mixins', '../../stylesheets/reset',
  '../../stylesheets/variables';

.page {
  &__box {
    /* background: rgb(158, 191, 255);
    background: radial-gradient(
      circle,
      rgba(158, 191, 255, 1) 0%,
      rgb(142, 172, 233) 100%
    ); */
    // background-color: $colorBackgroundIndex;
    transition: background-image 1s ease;
    background-image: url('../../images/background-b.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    &__logo {
      padding-bottom: 35.4px;
      width: 250px;
    }
    &__title {
      color: lightsteelblue;
      font-family: $fontFamily;
      font-size: 1.188rem;
      transition: all .5s ease;
    }
    &__paragraph {
      width: 264.8px;
      text-align: center;
      color: lightsteelblue;
      font-family: $fontFamily;
      font-size: 0.75rem;
      padding-bottom: 27px;
      transition: all .5s ease;
    }
    &__iconBox {
      width: 268px;
      height: 73.8px;
      border: solid 1.6px lightsteelblue;
      border-radius: 4px;
      display: flex;
      justify-content: space-evenly;
      &__elem {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: $colorFontCard;
        font-family: $fontFamily;
        font-size: 1rem;
        width: calc(100% / 3);
        & i {
          font-size: 1.625rem;
          color: lightsteelblue;
          transition: all .5s ease;
        }
        .title-steps {
          color: lightsteelblue;
        }

        .elem-title {
          color: lightsteelblue;
        }
      }
    }
    &__button {
      margin-top: 38.6px;
      margin-bottom: 30px;
      width: 129px;
      height: 42px;
      border-radius: 21px;
      background-color: lightsteelblue;
      color: rgb(31, 47, 70);
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      text-transform: uppercase;
      font-family: $fontFamily;
      font-size: 1rem;
      font-weight: 600;

      line-height: 5rem;
      cursor: pointer;
      transition: background-color 1s ease;
      box-shadow: none;
      outline: none;
      &:hover {
        font-weight: bold;
        background-color: rgb(31, 47, 70);
        color: lightsteelblue;
      }
    }
  }
}

@include tablet {
  .page {
    &__box {
      &__logo {
        padding-bottom: 31px;
        width: 419px;
      }
      &__title {
        font-size: 1.5rem;
      }
      &__paragraph {
        font-size: 1rem;
        width: 331px;
      }
      &__iconBox {
        width: 325px;
        height: 86px;
        border: solid 2px rgb(31, 47, 70);
        border-radius: 5px;

        &__elem {
          & i {
            font-size: 1.813rem;
          }
        }
      }
      &__button {
        margin-top: 186px;
        margin-bottom: 59px;
      }
    }
  }
}



/***********/

.joker {
.page {
  &__box {

    background-image: url('../../images/background-t.jpg');


    &__title {
      color: rgb(175, 175, 175);
      background-color: rgba(0,0,0,.5);

    }
    &__paragraph {

      color: rgb(222, 208, 176);

    }
    &__iconBox {

      border: solid 1.6px rgb(222, 206, 176);

      &__elem {
 
        color: rgb(222, 206, 176);

        & i {
          font-size: 1.625rem;
          color: rgb(222, 206, 176);
        }
        .title-steps {
          color: rgb(222, 191, 176);
        }

        .elem-title {
          color: rgb(222, 204, 176);
        }
      }
    }
    &__button {

      background-color: rgb(222, 178, 176);
      color: rgb(31, 47, 70);

      cursor: pointer;
      transition: background-color 1s ease;
      box-shadow: none;
      outline: none;
      &:hover {
        font-weight: bold;
        background-color: rgb(70, 34, 31);
        color: rgb(222, 187, 176);
      }
    }
  }
}
}


/********* heart ********/

.heart {
  .page {
    &__box {
      background-image: url('../../images/background-m.jpg');
      &__title {
        color: rgb(141, 37, 37);
      }
      &__paragraph {
        color: rgb(0, 0, 0);
      }
      &__iconBox {

        border: solid 1.6px rgb(0, 0, 0);

        &__elem {

          color: rgb(73, 32, 59);

          & i {
            font-size: 1.625rem;
            color: rgb(187, 59, 59);
          }
          .title-steps {
            color: rgb(0, 0, 0);
          }
  
          .elem-title {
            color: rgb(222, 204, 176);
          }
        }
      }
    }
  }
}