@import '../../stylesheets/mixins', '../../stylesheets/reset', '../../stylesheets/variables';

.page__container {
  min-height: 100vh;
  //   background-image: linear-gradient(
  //     to bottom,
  //     $colorBackgroundIndex,
  //     $colorLight
  //   );
}
@include tablet {
  .page__container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
  }
}
